.nav {
  @include apply-utility('font', 'montserrat');
  text-transform: uppercase;

  &__list {
    flex-wrap: wrap;
  }

  &__item {
    margin-right: get-size(500);
    padding: get-size(200) 0;
    flex-shrink: 0;

    a {
      color: currentColor;

      @include apply-utility('weight', 'light');
      letter-spacing: 1px;

      &:not(:hover) {
        text-decoration: none;
      }
    }
  }
}
