.nav {
  // font-size: get-size(500);

  &__list {
    flex-wrap: wrap;
  }

  &__item {
    flex-grow: 1;
    text-align: center;

    a {
      color: currentColor;
      display: inline-block;
      line-height: 2.5;
      position: relative;
      text-decoration: none;
      width: 100%;
      word-break: break-word;
    }

    &--cta {
      background: var(--color-text);
      letter-spacing: 2px;
      margin-top: get-size(300);
      width: 100%;
      
      @include media-query('md') {
        margin-left: get-size(300);
        margin-top: 0;
        width: auto;
      }

      &:focus, &:hover {
        a {
          color: var(--color-text);
        }
      }

      a {
        color: white;
      }
    }
  }
}
