.site-head {
  &__site-name {
    color: var(--color-text);
    display: block;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: get-size(300);
    text-decoration: none;
    
    @include media-query('md') {
      display: inline-block;
      margin-bottom: 0;
    }
  }

  [aria-current='page'] {
    border-bottom: 1px solid
  }

  a {    
    padding-left: .75rem;
    padding-right: .75rem;

    &:focus, &:hover {
      background: var(--color-theme-highlight);
    }
  }
}
