.site-head {
  &__site-name {
    color: var(--color-text);
    display: block;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: get-size(300);
    text-align: center;
    text-decoration: none;

    &:focus, &:hover {
      background: var(--color-theme-highlight);
    }
    
    @include media-query('md') {
      display: inline-block;
      margin-bottom: 0;
      padding: 0 .75rem; 

      span {
        padding: 0; 
      }
    }
  }

  [aria-current='page'] {
    border-bottom: 1px solid
  }

  li {    
    @include media-query('md') {      
      a {
        padding: 0 .75rem;
      }
    }

    a:focus, &:hover {
      background: var(--color-theme-highlight);
    }
  }
}
